* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #25282c;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #333; }
  body.fullscreen #preview {
    width: 100%; }

hr {
  border: 0;
  border-top: 1px solid black; }

#top-bar {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-align-items: center;
  /* Safari 6.1+ */
  align-items: center;
  -webkit-justify-content: space-between;
  /* Safari 6.1+ */
  justify-content: space-between;
  position: absolute;
  background-color: #25282c;
  top: 0;
  left: 0;
  width: 50%;
  height: 55px;
  padding: 0px 20px;
  margin: 0px;
  z-index: 1002;
  overflow: hidden;
  color: white;
  font-size: 16px;
  border-top: 1px solid #404855;
  border-bottom: 2px solid #1E232B;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.72); }
  #top-bar .right-menu {
    text-align: right;
    white-space: nowrap; }
  #top-bar header {
    font-size: 1.1em;
    font-weight: normal; }
  #top-bar button {
    margin: 0;
    margin-left: 6px;
    padding: 5px 12px;
    display: inline;
    border: none;
    border-radius: 5px;
    background-color: #373B41;
    color: inherit;
    font-size: 10.8px;
    font-weight: normal;
    line-height: 18px;
    cursor: pointer;
    border-top: 1px solid #404855;
    border-bottom: 2px solid #1E232B;
    -webkit-transition: border-top-color 0.1s ease-out, background-color 0.1s ease-out;
    transition: border-top-color 0.1s ease-out, background-color 0.1s ease-out; }
    #top-bar button:hover, #top-bar button.active {
      border-top-color: #4C525D;
      background-color: #404855; }
    #top-bar button span {
      float: left; }
    #top-bar button [class^="icon-"], #top-bar button [class*=" icon-"] {
      font-size: 18px; }
      #top-bar button [class^="icon-"]:not(:last-child), #top-bar button [class*=" icon-"]:not(:last-child) {
        margin-right: 5.4px; }

#editor {
  position: absolute;
  top: 55px;
  left: 0;
  width: 50%;
  bottom: 0;
  margin: 0;
  z-index: 1001;
  border: 4px solid #373B41;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.72);
  -webkit-transition: bottom 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: bottom 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  #editor.success {
    border-color: #374760; }
  #editor.failure {
    border-color: #49373A; }

#messages {
  position: fixed;
  bottom: -80px;
  left: 0;
  width: 50%;
  height: 80px;
  padding: 20px;
  overflow: hidden;
  z-index: 1000;
  background-color: #25282c;
  color: #C5C8C6;
  border-top: 0px solid #373B41;
  -webkit-transition: bottom 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955), color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: bottom 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955), color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  #messages.success {
    background-color: #27343E;
    color: #C3CEDE;
    border-color: #374760; }
  #messages.failure {
    background-color: #312424;
    color: #E4C9C9;
    border-color: #49373A; }
  #messages ul {
    margin: 0;
    padding-left: 0;
    list-style: none; }
  #messages li:not(:last-child) {
    margin-bottom: 5px; }

#preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  margin: 0;
  background-color: black; }

#overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  margin: 0;
  z-index: 10000;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); }
  #overlay .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    margin: 20px;
    z-index: 10001;
    cursor: pointer;
    background-color: white;
    color: #CCC;
    border: 2px solid #CCC;
    border-radius: 5px;
    font-size: 20px;
    -webkit-transition: color 0.1s ease-out, border-color 0.1s ease-out;
    transition: color 0.1s ease-out, border-color 0.1s ease-out; }
    #overlay .close * {
      display: block;
      line-height: 36px; }
    #overlay .close:hover {
      color: #333;
      border-color: #333;
      background-color: #FAFAFA; }
  #overlay .scroller {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }

.page {
  margin: 40px;
  /* spacing */ }
  .page hr {
    margin: 40px 0;
    border: none;
    border-top: 1px solid #EEE; }
  .page h1, .page h2 {
    text-align: center; }
  .page h3, .page h4 {
    margin-top: 40px; }
  .page ul {
    margin-left: 20px; }
    .page ul li {
      margin-bottom: 5px; }
  .page header {
    text-align: center; }
    .page header hr {
      border: 1px dashed; }
  .page pre {
    margin-left: 20px; }
  .page table {
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    overflow: hidden; }
    .page table tr:not(:last-child) th {
      border-bottom: 1px solid #DDD; }
    .page table tr:not(:last-child) td {
      border-bottom: 1px solid #EFEFEF; }
    .page table th {
      width: 25%;
      text-align: left;
      padding: 10px 30px;
      background-color: #EFEFEF;
      color: #333; }
      .page table th .info {
        display: block;
        font-weight: normal;
        font-style: italic;
        font-size: 0.9em; }
      .page table th.mono {
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }
    .page table td {
      padding: 10px 20px;
      background-color: #FAFAFA;
      color: #333; }
      .page table td:nth-child(2) {
        padding-left: 30px; }
      .page table td:last-child {
        padding-right: 30px; }
    .page table.mono-title th {
      font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }
    .page table.dark tr:not(:last-child) th {
      border-bottom: 1px solid #444; }
    .page table.dark tr:not(:last-child) td {
      border-bottom: 1px solid #DDD; }
    .page table.dark th {
      background-color: #333;
      color: #CCC; }
    .page table.dark td {
      background-color: #EFEFEF;
      color: #444; }
  .page .more-link {
    display: block;
    float: right; }

.mono {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

.ace_error-line {
  background-color: rgba(255, 0, 20, 0.08);
  position: absolute;
  z-index: 4; }

pre.ace-static {
  display: block; }

code.ace-static {
  display: inline-block; }
  code.ace-static > [class^="ace-"] {
    background-color: transparent; }

/*# sourceMappingURL=app.css.map */
