$messages-height: 80px;
$top-bar-height: 55px;
$ui-transition: 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ui-transition-fast: 0.1s ease-out;
$std-pad: 40px;
$std-radius: 5px;
$std-dark-color: #333;

$font-stack-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
$font-stack-mono: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;



*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: $font-stack-helvetica;
	background-color: #25282c;

	overflow: hidden;

	position: absolute;
	width: 100%;
	height: 100%;

	color: $std-dark-color;

	&.fullscreen{
		#preview{
			width: 100%;
		}
	}
}

hr{
	border: 0;
	border-top: 1px solid black;
}

#top-bar{
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

	-webkit-align-items: center; /* Safari 6.1+ */
	align-items: center;

	-webkit-justify-content: space-between; /* Safari 6.1+ */
	justify-content: space-between;

	position: absolute;
	background-color: #25282c;
	top: 0;
	left: 0;
	width: 50%;
	height: $top-bar-height;

	padding: 0px $std-pad * .5;
	margin: 0px;
	z-index: 1002;
	overflow: hidden;

	color: white;

	font-size: 16px;

	border-top: 1px solid #404855;
	border-bottom: 2px solid #1E232B;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.72);

	.right-menu{
		text-align: right;
		white-space: nowrap;
	}

	header{
		font-size: 1.1em;
		font-weight: normal;
	}

	button{
		$icon-size: 18px;
		$font-size: $icon-size * .6;
		margin: 0;
		margin-left: 6px;
		padding: 5px 12px;
		display: inline;
		border: none;
		border-radius: $std-radius;
		background-color: #373B41;
		color: inherit;
		font-size: $font-size;
		font-weight: normal;
		line-height: $icon-size;
		cursor: pointer;
		border-top: 1px solid #404855;
		border-bottom: 2px solid #1E232B;

		-webkit-transition:
			border-top-color $ui-transition-fast,
			background-color $ui-transition-fast;
		transition:
			border-top-color $ui-transition-fast,
			background-color $ui-transition-fast;

		&:hover, &.active{
			border-top-color: #4C525D;
			background-color: #404855;
		}

		span{
			float: left;
		}

		[class^="icon-"], [class*=" icon-"]{
			font-size: $icon-size;
			&:not(:last-child){
				margin-right: $font-size * .5;
			}
		}

	}
}

#editor{
	position: absolute;
	top: $top-bar-height;
	left: 0;
	width: 50%;
	bottom: 0;
	margin: 0;

	z-index: 1001;

	border: 4px solid #373B41;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.72);

	-webkit-transition:
		bottom $ui-transition,
		border-color $ui-transition;

	transition:
		bottom $ui-transition,
		border-color $ui-transition;

	&.success{
		border-color: #374760;
	}

	&.failure{
		border-color: #49373A;
	}
}

#messages{
	position: fixed;
	bottom: -$messages-height;
	left: 0;
	width: 50%;
	height: $messages-height;

	padding: 20px;
	overflow: hidden;
	z-index: 1000;

	background-color: #25282c;
	color: #C5C8C6;

	border-top: 0px solid #373B41;

	-webkit-transition:
		bottom $ui-transition,
		background-color $ui-transition,
		color $ui-transition,
		border-color $ui-transition;
	transition:
		bottom $ui-transition,
		background-color $ui-transition,
		color $ui-transition,
		border-color $ui-transition;

	&.success{
		background-color: #27343E;
		color: #C3CEDE;
		border-color: #374760;
	}

	&.failure{
		background-color: #312424;
		color: #E4C9C9;
		border-color: #49373A;
	}

	ul{
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	li:not(:last-child){
		margin-bottom: 5px;
	}
}

#preview{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	margin: 0;

	background-color: black;
}

#overlay{
	display: none;
	$width: 50%;
	$height: 100%;
	$center-x: false;
	$center-y: false;
	position: absolute;
	@if $center-y {
		top: (100% - $height) * .5;
	}@else{
		top: 0;
	}

	@if $center-x {
		right: (100% - $width) * .5;
	}@else{
		right: 0;	
	}
		
	width: $width;
	height: $height;
	margin: 0;

	z-index: 10000;

	background-color: white;

	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);

	.close{
		$border-thickness: 2px;
		$color: #CCC;
		$color-hover: $std-dark-color;
		position: absolute;
		right: 0;
		top: 0;
		width: $std-pad;
		height: $std-pad;
		line-height: $std-pad - $border-thickness * 2.0;
		text-align: center;
		margin: $std-pad * .5;
		z-index: 10001;
		cursor: pointer;
		background-color: white;
		color: $color;
		border: $border-thickness solid $color;
		border-radius: $std-radius;

		font-size: 20px;

		-webkit-transition:
			color $ui-transition-fast,
			border-color $ui-transition-fast;
		transition:
			color $ui-transition-fast,
			border-color $ui-transition-fast;

		*{
			display: block;
			line-height: $std-pad - $border-thickness * 2.0;
		}

		&:hover{
			color: $color-hover;
			border-color: $color-hover;
			background-color: #FAFAFA;
		}
	}

	.scroller{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.content{}
}

.page{
	margin: $std-pad;

	hr{
		margin: 40px 0;
		border: none;
		border-top: 1px solid #EEE;
	}

	/* spacing */
	// h2{
	// 	margin-top: 70px;
	// }

	h1, h2{
		text-align: center;
	}

	h3, h4{
		margin-top: 40px;
	}

	ul{
		margin-left: $std-pad * .5;
		
		li{
			margin-bottom: 5px;
		}
	}

	header{
		text-align: center;
		hr{
			border: 1px dashed;
		}		
	}

	pre{
		margin-left: $std-pad * .5;
	}

	table{
		width: 100%;
		// table-layout: fixed;
		border-radius: $std-radius;
		border-collapse: collapse;
		overflow: hidden;

		tr:not(:last-child){
			th{
				border-bottom: 1px solid #DDD;
			}
			td{
				border-bottom: 1px solid #EFEFEF;
			}
		}

		th{
			width: 25%;
			text-align: left;
			padding: $std-pad*.25 $std-pad * .75;

			background-color: #EFEFEF;
			color: #333;

			.info{
				display: block;
				font-weight: normal;
				font-style: italic;
				font-size: 0.9em;
			}

			&.mono{
				font-family: $font-stack-mono;
			}
		}

		td{
			padding: $std-pad*.25 $std-pad * .5;

			background-color: #FAFAFA;
			color: #333;

			&:nth-child(2){
				padding-left: $std-pad * .75;
			}

			&:last-child{
				padding-right: $std-pad * .75;
			}
		}

		&.mono-title{
			th{
				font-family: $font-stack-mono;
			}
		}

		&.dark{
			tr:not(:last-child){
				th{
					border-bottom: 1px solid #444;
				}
				td{
					border-bottom: 1px solid #DDD;
				}
			}

			th{
				background-color: $std-dark-color;
				color: #CCC;
			}

			td{
				background-color: #EFEFEF;
				color: #444;
			}
		}
	}
}

.mono{
	font-family: $font-stack-mono;
}

.ace_error-line{
	background-color: rgba(255, 0, 20, 0.08);
	position: absolute;
	z-index: 4;
}

pre.ace-static{
	display: block;
}

code.ace-static{
	display: inline-block;
	//disable bg
	& > [class^="ace-"]{
		background-color: transparent;
	}
}